# config.yaml

# Path to the Excel file with the venue list. This is the 'query'
venue_list: 'Datasets/Venues_plus_Konsert.xlsx'

start_year: 1908  # Start year for crawling
years_to_crawl: 1  # Number of years to crawl

# Newspaper to crawl. Valid options are Dagens nyheter, Svenska Dagbladet, Aftonbladet, Dagligt Allehanda
newspaper: 'Dagens nyheter'

prompt_filepath: 'llm_prompt_for_deployment.txt'  # Path to the prompt file
db_path: 'Datasets/25.07_Deployment_Version_11.db'  # Path to the SQLite database file
llm_model: 'gpt-4o-mini'  # LLM model name
max_tokens: 1000  # Maximum number of tokens for the API call


# Dataset Comparison Settings

# Set Path to XLS file with human-made data
Stockholm_Concert_Database_Path: 'Datasets/All_Concerts_1908_filtered.xlsx'

# Columns to compare between the human and LLM Datasets
#columns_to_compare: ['normalized_date', 'normalized_konsert_namn', 'lokal_namn']
columns_to_compare: ['normalized_date', 'name', 'venue']