# config.yaml

venue_list: 'Datasets/test_lokalerna.xlsx'  # Path to the Excel file with the venue list
start_year: 1908  # Start year for crawling
years_to_crawl: 1  # Number of years to crawl
newspaper: 'Dagens nyheter'  # Newspaper to crawl
prompt_filepath: 'oldtimey_touringbot_prompt_for_deployment.txt'  # Path to the prompt file
db_path: 'Datasets/30.06.test.db'  # Path to the SQLite database file
llm_model: 'gpt-3.5-turbo'  # LLM model name
max_tokens: 1000  # Maximum number of tokens for the API call